  <h1 class="center-block">TechTalk {CHS}</h1>


<div class='carousel' ng-controller="NewsController as newsCtrl">
  <div class='ctn'>
    <carousel interval="4000">
      <slide ng-repeat="story in newsCtrl.getArticles | limitTo:3" active="slide.active">
        <img class='img img-responsive' data-ng-src="{{story.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4 class='ListHeadline'>Slide {{story.headline}}</h4>
          <p>{{story.byline}}</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>

<div class='newsWindow' ng-controller="NewsController as newsCtrl">
  <ul>
    <div class="mainTitle"><h1>News Feed</h1></div>
    <hr>
    <li class='NewsItem' ng-repeat="story in newsCtrl.getArticles  | limitTo:3">
      <img data-ng-src={{story.image}} />
      <div>
        <h3 class='Name' ng-click="newsCtrl.routeTo('/news/detail/'+ story._id)">{{story.headline}}</h3>
        <h6 class='Author'>{{story.byline}}</h6>
      </div>
    </li>
  </ul>
  <button class="btn btn-default" ng-click="newsCtrl.routeTo('/news/list')">View All Articles</button>
</div>

<div class="container-fluid" ng-controller="WeekController as wkCtrl">

  <div class="mainTitle"><h1>Upcoming Events</h1></div>
  <hr>
     <div class="row">
       <div class="col-md-8 col-md-offset-2">
         <h2 class="text-center">{{ calendarControl.getTitle() }}</h2>

        <div class="viewAllEvents"><button class= "btn btn-primary" ng-click="wkCtrl.routeTo('/calendar')">All Events</button></a></div>


        <div class="row">

           <div class="col-md-6 text-center">
             <div class="btn-group">
                <div class="buttonHome">
               <button class="btn btn-primary" ng-click="calendarControl.prev()">Previous</button>
               <button class="btn btn-default" ng-click="setCalendarToToday()">Today</button>
               <button class="btn btn-primary" ng-click="calendarControl.next()">Next</button>
               </div>
             </div>
           </div>

           <br class="visible-xs visible-sm">


         </div>

         <mwl-calendar
           calendar-events="events"
           calendar-view="calendarView"
           calendar-current-day="calendarDay"
           calendar-control="calendarControl"
           calendar-event-click="eventClicked($event)"
           calendar-edit-event-click="eventEdited($event)"
           calendar-delete-event-click="eventDeleted($event)"
           calendar-auto-open="true">
           </mwl-calendar>

           <script type="text/ng-template" id="modalContent.html">
                  <div class="modal-header">
                    <h3 class="modal-title">{{ event.title }}</h3>
                  </div>
                  <div class="modal-body">
                    <p> Starts: {{ event.starts_at | date: 'h:mm a' }}</p>
                    <p> Ends: {{ event.ends_at | date: 'h:mm a' }}</p>
                    <p>{{ event.description }}</p>
                    <a ng-href="{{ event.url }}" target="_blank">{{ event. url }}</a>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="$modalInstance.close()">OK</button>
                  </div>
          </script>
    </div>
  </div>
