
<!-- <div ng-controller=""></div> --><!--News - These are the two controllers to create views for -->

<!-- <div ng-controller=""></div> --><!--Calendar - These are the two controllers to create views for -->
<header>
  <h1 class="center-block">TechTalk {CHS}</h1>
</header>

<div class='carousel' ng-controller="NewsController as newsCtrl">
  <div class='ctn'>
    <carousel interval="4000">
      <slide ng-repeat="story in newsCtrl.getArticles | limitTo:3" active="slide.active">
        <img class='img img-responsive' data-ng-src="{{story.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{story.headline}}</h4>
          <p>{{story.byline}}</p>
        </div>
      </slide>
    </carousel>
  </div>
  <!-- <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
    </div>
  </div> -->
</div>

<div class='newsWindow' ng-controller="NewsController as newsCtrl">
  <ul>
    <h1>News Feed</h1>
    <li class='NewsItem' ng-repeat="story in newsCtrl.getArticles  | limitTo:3">
      <img data-ng-src={{story.image}} />
      <div class='headlineblock'>
        <h3 class='Name'>{{story.headline}}</h3>
        <h6 class='Author'>{{story.byline}}</h6>
      </div>
      <img data-ng-src={{story.picture}} />
      <p class='Name' ng-click="newsCtrl.routeTo('/news/detail/'+ story._id)">{{story.headline}}</p>
      <p class='Author'>{{story.byline}}</p>
    </li>
    <button ng-click="newsCtrl.routeTo('/news/list')">View All Articles</button>
  </ul>
</div>

<div class="container-fluid" ng-controller="CalendarController as calCtrl">

     <div class="row">
       <div class="col-md-8 col-md-offset-2">
         <h2 class="text-center">{{ calendarControl.getTitle() }}</h2>

         <div class="row">

           <div class="col-md-6 text-center">
             <div class="btn-group">

               <button class="btn btn-primary" ng-click="calendarControl.prev()">Previous</button>
               <button class="btn btn-default" ng-click="setCalendarToToday()">Today</button>
               <button class="btn btn-primary" ng-click="calendarControl.next()">Next</button>
             </div>
           </div>

           <br class="visible-xs visible-sm">

           <div class="col-md-6 text-center">
             <div class="btn-group">
               <label class="btn btn-primary" ng-model="calendarView" btn-radio="'week'">Week</label>
             </div>
           </div>

         </div>

         <mwl-calendar
           calendar-events="events"
           calendar-view="calendarView"
           calendar-current-day="calendarDay"
           calendar-control="calendarControl"
           calendar-event-click="eventClicked($event)"
           calendar-edit-event-click="eventEdited($event)"
           calendar-delete-event-click="eventDeleted($event)"
           calendar-auto-open="true">
           </mwl-calendar>

           <script type="text/ng-template" id="modalContent.html">
                  <div class="modal-header">
                    <h3 class="modal-title">{{ event.title }}</h3>
                  </div>
                  <div class="modal-body">
                    <p> Starts: {{ event.starts_at }}</p>
                    <p> Ends: {{ event.ends_at }}</p>
                    <p>{{ event.description }}</p>
                    <a ng-href="{{ event.url }}" target="_blank">{{ event. url }}</a>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="$modalInstance.close()">OK</button>
                  </div>
          </script>
    </div>
  </div>
