@font-face {
    font-family: 'TechTalk';
    src: url(Oranienbaum.ttf);
  }

.carousel {
  text-align:center;
  margin:auto;
  width:78%;
  height:300px;
  margin-bottom:50px;
}

.carousel-inner {
  height:300px;
  border:1px black solid;
  img {
    height:300px;
    width:100%;
  }
}
.carousel-caption {
  height:230px;
}
/* slide {
  height:200px;
  .img {
    height:200px;
  }
} */

header {
  margin-bottom: 25px;
  h1 {
    text-align:center;
    padding:15px;
    font-family: 'TechTalk';
    font-weight: 900;
    font-size:60px;
  }
  span {
    font-style:italic;
  }
}

.newsWindow {
  text-align:center;
  width:90%;
  margin:15px auto;
  padding:10px;
  border: 3px double black;
  h1,h3 {
    font-family:'TechTalk';
  }
  h3 {
    display:inline-block;
    margin:0;
  }
  img {
    width:105px;
    height:85px;
    display:inline-block;
  }
  ul {
    text-align:left;
    padding:5px;
  }
  .headlineblock {
    display:inline-block;
    padding: 5px 0px 0px 10px;
  }
  li {
    list-style-type: none;
    padding: 12px 0px 12px 0px;
  }
  button {
    padding:5px 0px 5px 0px;
  }
}
.modal-header {
    font-family: 'TechTalk';
}
.text-center {
    font-family: 'TechTalk';
}
.row {
    font-family: 'TechTalk';
}
