@font-face {
  font-family: 'TechTalk';
  src: url(Oranienbaum.ttf); }

header {
  margin-bottom: 25px; }
  header h1 {
    text-align: center;
    padding: 15px;
    font-family: 'TechTalk';
    font-weight: 900;
    font-size: 60px; }
  header span {
    font-style: italic; }

.newsWindow {
  text-align: center;
  width: 90%;
  height: 350px;
  margin: 15px auto;
  padding: 10px;
  border: 5px inset black; }
  .newsWindow h1, .newsWindow h3 {
    font-family: 'TechTalk'; }

ul {
  text-align: left; }

li {
  list-style-type: none; }
