<form id='addArticleForm' ng-submit="newsCtrl.addArticle(newArticle)">
  <legend>New Product Listing</legend>
  <input type="text" data-ng-model="newArticle.image" placeholder="Image URL">
  <input type="text" data-ng-model="newArticle.headline" placeholder="Headline">
  <input type="text" data-ng-model="newArticle.byline" placeholder="Author">
  <textarea data-ng-model="newArticle.story" placeholder="Story Text"></textarea>
  <button type="submit" id='saveNewArticleButton'>Add New Article</button>
</form>
<!-- photo, headline, byline(author name), date, text of story) -->
