<div class="fixedHomeNav"><i ng-click="newsCtrl.routeTo('/')" class="fa fa-home fa-3x"></i></div>


<div class='DtlItem'>
  <img data-ng-src={{newsCtrl.getOneArticle.picture}} />
  <h2 class='DtlHeadline'>{{newsCtrl.getOneArticle.headline}}</h2>
  <p class='DtlAuthor'>{{newsCtrl.getOneArticle.byline}}</p>
  <p class='DtlStory'>{{newsCtrl.getOneArticle.story}}</p>
</div>


<div class="comments">
  <h2>Comments</h2>
  <ul>
    <li ng-repeat="comment in newsCtrl.getOneArticle.comments">
      <p class="comment">
        <span>{{comment.username}}: </span>
        <span>{{comment.comment}}</span></p>
    </li>
  </ul>
</div>
<p>Add comment:</p>
  <form class='commentform' ng-submit="newsCtrl.addComment(newsCtrl.getOneArticle, newComment)">
    <input type="text" ng-model="newComment.username" placeholder="Username">
    <textarea ng-model="newComment.comment"></textarea>
    <button type="submit">Post Comment</button>
 </form>
