<form id='addArticleForm' ng-submit="newsCtrl.addArticle(newArticle)">
  <legend>New Product Listing</legend>
  <input type="text" data-ng-model="newArticle.image" placeholder="Image URL">
  <input type="text" data-ng-model="newArticle.headline" placeholder="Headline">
  <input type="text" data-ng-model="newArticle.byline" placeholder="Author">
  <textarea data-ng-model="newArticle.story" placeholder="Story Text"></textarea>
  <button type="submit" id='saveNewArticleButton'>Add New Article</button>
</form>

<!-- photo, headline, byline(author name), date, text of story) -->
<div class='listItem'>
  <ul>
    <li ng-repeat="story in newsCtrl.getArticles" ng-hide="hideProduct">
      <p class='ListHeadline' ng-click="newsCtrl.routeTo('/news/detail/'+ story._id)">{{story.headline}}</p>
      <button ng-click="hideProduct = !hideProduct; newsCtrl.deleteArticle(story._id)">Delete Article</button>
    </li>
  </ul>
</div>
