<!-- Same layout as news.html view but showing all articles -->
<div class="fixedHomeNav"><i ng-click="newsCtrl.routeTo('/')" class="fa fa-home fa-3x"></i></div>

<div class='listItem'>
  <ul>
    <input type:'text' ng-model="searchText">
    <li ng-repeat="story in newsCtrl.getArticles | filter:searchText">
      <img data-ng-src={{story.picture}} />
      <p class='ListHeadline' ng-click="newsCtrl.routeTo('/news/detail/'+ story._id)">{{story.headline}}</p>
      <p class='ListAuthor'>{{story.byline}}</p>
      <button ng-click="newsCtrl.routeTo('/news/detail/'+ story._id)">Read Article</button>
    </li>
  </ul>
</div>
