<!-- This is the news story detail page which will display the whole article, including: photo, headline, byline(author name), date, text of story)

Also includes reader comments -->

<div class='DtlItem'>
  <img data-ng-src={{newsCtrl.getOneArticle.picture}} />
  <h2 class='DtlHeadline'>{{newsCtrl.getOneArticle.headline}}</h2>
  <p class='DtlAuthor'>{{newsCtrl.getOneArticle.byline}}</p>
  <p class='DtlStory'>{{newsCtrl.getOneArticle.story}}</p>
</div>


<div class="comments">
  <h2>Comments</h2>
  <ul>
    <li ng-repeat="comment in storyCtrl.singleStory.comments">
      <p class="comment">{{comment.text}}</p>
    </li>
  </ul>
</div>
<p>Add comment:</p>
  <form class='commentform' ng-submit="storyCtrl.singleStory.(comment)">
    <input type="text" ng-model="singleStory.username" placeholder="Username">
    <textarea ng-model="singleStory.comment"></textarea>
    <button type="submit">Submit Comment</button>
 </form>
