@font-face {
    font-family: 'TechTalk';
    src: url(Oranienbaum.ttf);
  }

.carousel {
  text-align:center;
  margin:auto;
  width:78%;
  height:300px;
  margin-bottom:50px;
}

.carousel-inner {
  height:300px;
  border:1px black solid;
  img {
    height:300px;
    width:100%;
  }
}
.carousel-caption {
  height:230px;
}
/* slide {
  height:200px;
  .img {
    height:200px;
  }
} */

header {
  margin-bottom: 25px;
  h1 {
    text-align:center;
    padding:15px;
    font-family: 'TechTalk';
    font-weight: 900;
    font-size:60px;
  }
  span {
    font-style:italic;
  }
}

.newsWindow {
  text-align:center;
  width:90%;
  margin:15px auto;
  padding:10px;
  border: 3px double black;
  h1,h3 {
    font-family:'TechTalk';
  }
  h3 {
    display:inline-block;
    margin:0;
  }
  img {
    width:105px;
    height:85px;
    margin-bottom: 10px;
    display:inline-block;
  }
  ul {
    text-align:left;
    padding:5px;
  }
  li:nth-child(3) {
    margin-left: 12.5%;
  }
  li {
    list-style-type: none;
    width: 25%;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }
}
.row {
  margin: 10px;
}
.buttonHome {
  float: left;
  margin-left: -110px;
}
.container-fluid {
padding-bottom: 80px;
}
.mainTitle {
  font-family: 'Tech-talk';
  text-align: center;
}
hr {
  width: 60%;
  border: 1px solid gray;
}

.news-blocks {
  width: 30%;
  display: inline;
}
