@font-face {
    font-family: 'TechTalk';
    src: url(Oranienbaum.ttf);
  }

.carousel {
  text-align:center;
  margin:auto;
  width:78%;
  height:300px;
  margin-bottom:50px;
}

.carousel-inner {
  height:300px;
  border:1px black solid;
  img {
    height:300px;
    width:100%;
  }
}
.carousel-caption {
  height:230px;
}
/* slide {
  height:200px;
  .img {
    height:200px;
  }
} */
.fixedHomeNav {
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 100;
  padding: 0px;
  margin-top: -15px;
}
.fixedHomeNavCal {
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 100;
  padding: 0px;
  margin-top: 0;
}
.listItem {
  margin-top: 80px;
  li {
    list-style-type: none;
}
  input{

    font-size:2em;

  }
}
.center-block {
  text-align:center;
  font-family: 'TechTalk';
  font-size:5em;
  padding-top:45px;
  padding-bottom:45px;
  font-weight:bold;
}
  span {
    font-style:italic;
  }

.home-pointer {
  cursor: pointer;
}

.newsWindow {
  text-align:center;
  width:90%;
  margin:45px auto;
  padding:10px;
  h1 {
    font-family:'TechTalk';
    font-weight:bold;
    font-size:3em;
  }
  h3 {
    font-family:'TechTalk';
    display:inline-block;
    margin:0;
  }
  img {
    width:250px;
    height:200px;
    margin-bottom: 10px;
    display:inline-block;
  }
  ul {
    text-align:left;
    padding:5px;
  }
  li:nth-child(3) {
    margin-left: 12.5%;
  }
  li {
    list-style-type: none;
    width: 25%;
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }
}

.viewAllEvents {
  float: right;
}
.row {
  font-family: 'TechTalk';
  margin: 10px;
  margin-top: 60px;
}
.buttonHome {
  margin-left: -220px;
}
.container-fluid {
padding-bottom: 80px;

}

.modal-header {
    font-family: 'TechTalk';
}
.text-center {
    font-family: 'TechTalk';
}
.row {
    font-family: 'TechTalk';
}
.listItem {
    border: 3px double black;
    width:90%;
    margin:15px auto;
    padding:10px;

    li {
        list-style-type: none;
        line-height: 10px;
    }
}

.DtlItem {
    border: 3px double black;
    width:90%;
    margin:15px auto;
    padding:10px;
}

#comments {
    font-family: 'TechTalk';
    font-weight: 900;
    float: left;
    border-bottom: 1px solid black;
    width: 75%;
    margin: auto;
}

.comments li {
    float: right;
    width: 50%;
    text-align: left;
    padding:15px;
    font-family: 'TechTalk';
    list-style-type: none;
    line-height: 5px;

}
.ListHeadline{
    cursor:pointer;
    font-size: 28px;
    line-height: 1.8em;
}

.ListAuthor {
  font-size: 24px;
  line-height: 1.4em;
}
.commentforms {
    float: left;
    width: 40%;
    margin-left: 5%;
    font-family: 'TechTalk';
}
.commentform {
    display: inline-block;
    width: 300px;


     input {
        margin-top: 20px;
        width: 106%;
    }

    textarea {
        margin-top: 20px;
    }
    button {
        float: left;
    }

}
.name {
    font-weight: bold;
    text-decoration: underline;
}
.mainTitle {
  font-family: 'Tech-talk';
  text-align: center;
  cursor:pointer;
  h1{
    font-size:3em;
    font-weight:bold;
  }

}
hr {
  width: 60%;
  border: 1px solid gray;
}

i {
float: right;
margin: 15px;
&:hover {
  cursor: pointer;
}
}
.DtlItem {
  margin-top: 60px;
}
.news-blocks {
  width: 30%;
  display: inline;
}
