@font-face {
    font-family: 'TechTalk';
    src: url(Oranienbaum.ttf);
  }

.carousel {
  text-align:center;
  margin:auto;
  width:78%;
  height:300px;
  margin-bottom:50px;
}

.carousel-inner {
  height:300px;
  border:1px black solid;
  img {
    height:300px;
    width:100%;
  }
}
.carousel-caption {
  height:230px;
}
/* slide {
  height:200px;
  .img {
    height:200px;
  }
} */
.fixedHomeNav {
  position: fixed;
  width: 100%;
  background: lightgray;
  opacity: .8;
  overflow: hidden;
  z-index: 100;
  padding: 0px;
  margin-top: -80px;
}
.fixedHomeNavCal {
  position: fixed;
  width: 100%;
  background: lightgray;
  opacity: .8;
  overflow: hidden;
  z-index: 100;
  padding: 0px;
  margin-top: 0;
}
.listItem {
  margin-top: 80px;
  li {
    list-style-type: none;
}
}
.center-block {
  margin-top: 60px;
  padding: 0px;
  text-align:center;
  font-family: 'TechTalk';
  font-size:60px;
}
  span {
    font-style:italic;
  }

.newsWindow {
  text-align:center;
  width:90%;
  margin:15px auto;
  padding:10px;
  border: 3px double black;
  h1,h3 {
    font-family:'TechTalk';
  }
  h3 {
    display:inline-block;
    margin:0;
  }
  img {
    width:105px;
    height:85px;
    display:inline-block;
  }
  ul {
    text-align:left;
    padding:5px;
  }
  .headlineblock {
    display:inline-block;
    padding: 5px 0px 0px 10px;
  }
  li {
    list-style-type: none;
    padding: 12px 0px 12px 0px;
  }
  button {
    padding:5px 0px 5px 0px;
  }
}
.viewAllEvents {
  float: right;
}
.row {
  margin: 10px;
  margin-top: 60px;
}
.buttonHome {
  margin-left: -220px;
}
.container-fluid {
padding-bottom: 80px;
}
.mainTitle {
  font-family: 'Tech-talk';
  text-align: center;
}
hr {
  width: 60%;
  border: 1px solid gray;
}

i {
float: right;
margin: 15px;
&:hover {
  cursor: pointer;
}
}
.DtlItem {
  margin-top: 60px;
}
